/* #region Icons  */
[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-icon1 {
  width: 2.357421875em;
}

.icon-icon2 {
  width: 2.357421875em;
}

.icon-icon3 {
  width: 2.357421875em;
}

.icon-icon4 {
  width: 2.357421875em;
}

/* #endregion Icons */

/* #region ROOT & GLOBAL */
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;

  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family);
  color: var(--slate);
  background-color: var(--white);
}

/* Глобальне скидання відступів для заголовків та параграфів */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* #endregion ROOT & GLOBAL */

/* #region UTILITY CLASSES */
.container {
  width: 100%;
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* #endregion UTILITY CLASSES */

/* #region HEADER */
.header {
  border-bottom: 1px solid var(--cornflower);
  background-color: var(--white);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 76px;
}

.logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navy-blue);
  padding: 24px 0;
}

.logo-accent {
  color: var(--iris);
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  padding: 24px 0;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--ocean);
}
.studio:hover::after,
.studio:focus::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background: #404bbf;
}

.contact-list ul {
  display: flex;
  gap: 40px;
}

.contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  font-style: normal;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--ocean);
}
/* #endregion HEADER */

/* #region HERO SECTION */

.hero {
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--navy-blue);
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
}

.hero .container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
  max-width: 496px;
  margin: 0 auto 48px;
}

.button-primary {
  cursor: pointer;
  background-color: var(--iris);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-primary:hover,
.button-primary:focus {
  background-color: var(--ocean);
}
/* #endregion HERO SECTION */

/* #region FEATURES SECTION */
.features {
  padding-bottom: 120px;
}

.features-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 24px;
  justify-content: center;
}

.features-item {
  flex-basis: calc((100% - 72px) / 4);
}

.item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}
.features-icons {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
}
.item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
/* #endregion FEATURES SECTION */

/* #region TEAM SECTION */
.team {
  background-color: var(--cloud);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.team-card {
  background-color: var(--white);
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  overflow: hidden;
}

.card-content {
  padding: 32px 16px;
  text-align: center;
}

.card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.card-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
/* #endregion TEAM SECTION */

/* #region PORTFOLIO SECTION */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-card {
  flex-basis: calc((100% - 48px) / 3);
  background: var(--white);
  border: 1px solid var(--cornflower);
  border-top: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-card .card-content {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
  text-align: left;
}
/* #endregion PORTFOLIO SECTION */

/* #region FOOTER */
.footer {
  background-color: var(--navy-blue);
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo-footer {
  color: var(--cloud);
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  max-width: 264px;
}
/* #endregion FOOTER */
